.app-main {
    justify-content: center;
    font-size: 1.2em;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    &--loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    &--form-group {
        display: flex;
        background: rgb(255, 255, 255, 0.6);
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
        position: relative;
        height: 4em;
        z-index: 1;
    }
    &--form {
        width: 25em;
        position: absolut;
        right: 2.5em;
        z-index: 2;
    }
    &--city {
        width: 100%;
        border-radius: 1em;
        font-size: 2.2em;
        background: rgb(255, 255, 255, 0.6);
        line-height: .8em;
        padding: 1em;
        box-sizing: inherit;
        .time {
            font-size: 0.8em;
        }
    }
    &--temperature {
        font-size: 6em;
    }
    &--imput-btn {
        border: none;
        background: transparent;
    }
    &--common-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1em;
        padding: 1.5em;
        font-size: 1.2em;
        background: rgb(255, 255, 255, 0.6);
        width: 100%;
        margin-top: 2em;
        box-sizing: inherit;
    }
    &--general-indicators {
        .indicators {
            margin-top: 0.5em;
        }
    }
    &--section {
        display: flex;
        padding: 0 2em;
        height: 70vh;
        overflow: hidden;
        margin-top: 2em;
    }
    &--data {
        width: 50%;
        box-sizing: border-box;
    }
    &--map {
        width: 50%;
        margin-left: 1em;
        overflow: hidden;
    }
}