<div class="app-main" [ngStyle]="{ 'background-image': 'url(' + (srcImg$ | async) + ')'}">
    <ng-container *ngIf="loading">
        <div class="app-main--loading">
            <mat-spinner [mode]="mode" [value]="valueProgressSpinner" aria-label="showText" [strokeWidth]="strokeWidth" [diameter]="diameter"></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading">
        <div class="app-main--main-container">
            <form [formGroup]=" myForm " novalidate (ngSubmit)="onCitySubmit(cityInput)" class="example-form">
                <div class="app-main--form-group ">
                    <mat-form-field class="app-main--form">
                        <mat-label>City name</mat-label>
                        <input matInput type="text " class="form-control" formControlName="cityInput" [(ngModel)]="cityInput">
                        <button mat-button *ngIf="cityInput " matSuffix mat-icon-button aria-label="Clear " type="button" class=" app-main--imput-btn" (click)="cityInput=''">
			  <mat-icon>close</mat-icon>
			</button>
                    </mat-form-field>
                </div>
                <div class="app-main--section">
                    <div class="app-main--data">
                        <div class="app-main--city city">
                            <p>{{city$ | async}}</p>
                            <span class="time">{{time | date : 'EEEE / MMMM d / HH:mm:ss'}}</span>
                        </div>
                        <div class="app-main--common-block">
                            <div class="app-main--temperature">{{ (weather$ | async).temperature }}°</div>
                            <div class="app-main--general-indicators general-indicators">
                                <div class="indicators">Feels Temerature: {{ (weather$ | async).temperature }}°</div>
                                <div class="indicators">min Temperature: {{ (weather$ | async).minTemp }}°</div>
                                <div class="indicators">max Temperature: {{ (weather$ | async).maxTemp }}°</div>
                                <div class="indicators">pressure: {{ (weather$ | async).pressure }} mm</div>
                                <div class="indicators">humidity: {{ (weather$ | async).humidity }} %</div>
                                <div class="indicators">visibility {{ (weather$ | async).visibility }}</div>
                                <div class="indicators">speed: {{ (weather$ | async).speed }}</div>
                                <div class="indicators">sunrise: {{ (weather$ | async).sunrise }}</div>
                                <div class="indicators">sunset: {{ (weather$ | async).sunset }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="app-main--map ">
                        <app-maps></app-maps>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
</div>